{% extends 'template.html' %}
{% block content %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item"><a class="link"><i
                                class="mdi mdi-account"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ module }}</li>
                </ol>
            </nav>
            <h1 class="mb-0 fw-bold">{{ title }}</h1>
        </div>
        <div class="col-6">
            <div class="text-end upgrade-btn">
                <a href="{% url 'newRole' userId=user.use_code %}"
                    class="btn btn-primary text-white">{{ buttonAddRole }}</a>                
            </div>
        </div>
    </div>
</div>
<h4 class="mb-0 fw-bold" style="padding-left: 25px; color: red;">{{ error }}</h4>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- div class="card-body"-->
                    <!-- Possible Title here, otherwise just erase the div tag -->
                <!--/div-->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr class="table-primary">
                                <th scope="col">Nombre</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for role in rolesList %}
                            <tr class="text-center">
                                <td>{{ role.rol_name|title }}</td>
                                <td>
                                    <div>
                                        <a href="{% url 'updateRole' userId=user.use_code roleId=role.rol_code %}" class="btn btn-primary mdi mdi-pencil-circle"></a>
                                        <a href="#" class="btn btn-danger mdi mdi-delete-circle"></a>
                                    </div>                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    All Rights Reserved by TravelHunter.
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
{% endblock %}