{% extends 'template.html' %}
{% block content %}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item"><a class="link"><i class="mdi mdi-earth"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cuestionarios</li>
                </ol>
            </nav>
            <h1 class="mb-0 fw-bold">Listado de Paises</h1>
        </div>
        <div class="col-6">
            <div class="text-end upgrade-btn">
                <a href="{% url 'newCountry' userId=user.use_code %}" class="btn btn-primary text-white">Añadir Pais</a>
            </div>
        </div>
    </div>
</div>
{% if error %}
<h4 class="mb-0 fw-bold" style="padding-left: 25px; color: red;">{{ error }}</h4>
{% endif %}
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr class="table-primary">
                                    <th scope="col">Pais</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for country in countryList %}
                                <tr class="text-center">
                                    <td>{{ country.cou_name|title }}</td>
                                    <td>
                                        <div>
                                            <a href="{% url 'questions' userId=user.use_code countryId=country.cou_code %}"
                                                class="btn btn-primary mdi mdi-format-list-bulleted-type"> Ver Preguntas</a>
                                            <a href="{% url 'deleteCountry' userId=user.use_code countryId=country.cou_code %}"
                                                class="btn btn-danger mdi mdi-delete-circle"
                                                onclick="return confirm('Se eliminará el registro seleccionado. ¿Contiunar?')"></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    All Rights Reserved by TravelHunter.
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
{% endblock %}